.pageContainer {
    background-color: var(--mantine-color-body);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--mantine-color-dark-filled);
}

.input {
    background-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-dark-filled);
}